table {
  width: 100%;
  margin: auto;
}
.mat-elevation-z8 {
  width: 80%;
  margin: auto;
}
.editBtn {
  margin-right: 20px;
}
.search {
  margin-top: 10px;
  margin-left: 40%;
}
.example-card {
  margin-left: 425px;
  margin-top: 50px;
  max-width: 400px;
}
.example-form-field {
  width: 400px;
}
.card-header {
  margin-left: 40%;
}
